$primary-color: #0077b6;
$secondary-color: #f7931e;
/* STRUCTURE */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-inline: 0 auto;
}

// polices
h1,h2,h3,h4{
    font-family: "Protest Riot", arial, sans-serif;
}
p{
    font-family: "Open Sans", arial, sans-serif;
}
a{
    font-family: "Poppins", arial, sans-serif;
}

// nav

.menu {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  &__logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 20px;
    & img{
        width: 3rem;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
    &__item {
      display: block;
      padding: 0.5rem;
      position: relative;
      background-color: white;
      &.drop{
        & a{
          font-size: 14px;
        }
      }
      & a {
        text-decoration: none;
        color: black;
        &:hover{
            color: $secondary-color;
          }
      }
      &.has-dropdown {
        &:hover .menu__dropdown {
          display: block;
        }
      }
    }
  }
  &__current-page{
    & a{
        color: $primary-color;
    }
  }
  & i{
    font-size: 12px;
    padding-left: 5px;
    color: $primary-color;
  }
}

// dropdown
.menu__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

//   dernier bouton

.last-item {
  background-color: $primary-color;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  & a {
    color: white;
  }
}

.menu__list__item.has-dropdown.last-item{
  .menu__dropdown{
    .menu__list__item.drop{
      a{
        color: #000;
        &:hover{
          color: $secondary-color;
        }
      }
    }
  }
  & i{
    color: whitesmoke;
  }
}

// BANNER

.banner {
  position: relative;
  width: 100%; 
  height: 400px; 
  overflow: hidden; 
  & img{
    width: 100%;
  height: 100%; 
  object-fit: cover;
  }
  &__content{
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
  padding: 20px; 
  color: #fff;
  & h2{
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #000;
  }
  }
  &__button{
    display: inline-block;
    padding: 10px 20px;
    background-color: $secondary-color;
    font-size: 16px;
    text-decoration: none;
    color: black;
    border: 1px solid $secondary-color;
    cursor: pointer; 
    &:hover{
      color: #fff;
    }
    &.secondary{
    border: 1px whitesmoke solid;
    color: whitesmoke;
    background-color: transparent; 
    text-shadow: 0 0 10px #000;
    &:hover{
      color: $secondary-color;
    }
    }
  }

}

// section coach

#coach, #programmes, #temoignages{
  padding: 25px 20px;
  & .section__container{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  & h2{
    text-align: left;
    font-size: 30px; 
    margin-bottom: 20px;
    color: $primary-color;
  }
  & hr{
    border-top: 4px solid $secondary-color;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 80%; 
    margin-top: 0;
  }
}
.coach__apropos{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px 20px;
  &__img{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__button{
      background-color: $primary-color;
      border: none;
      padding: 0.5rem 1rem;
      color: white;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      &:hover{
        background-color: $secondary-color;
        transition: all ease-in 0.2s;
      }
    }
    &__container{
      overflow: hidden;
      width: 400px;
      height: 400px;
    & img{
      width: 400px;
      height: 400px;
      object-fit: cover;
      transition: transform .3s ease-in-out;
      &:hover{
        transform: scale(1.2);
      }
    }
  }
  }
  &__text{
    & h3{
      text-align: center;
      font-size: 28px;
      margin-bottom: 1rem;
    }
    & p{
      padding-inline: 50px;
      text-align: center;
    }
  }
}
}

// PROGRAMMES
#programmes{
  display: flex;
  flex-direction: column;
  & .section__container{
    & h2{
      flex-wrap: nowrap;
    }
    & hr{
      width: 70%;
    }
  }
  & .programmes__coach{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 20px;
    &__prog{
      width: 400px;
      display: flex;
      flex-direction: column;
      &__img{
        height: 400px;
        width: 400px;
        overflow: hidden;
        & img{
          width: 100%;
          height: 400px;
          object-fit: cover;
          transition: transform .3s ease-in-out;
      &:hover{
        transform: scale(1.2);
      }
        }
      }
      &__text{
        & h3{
          font-size: 22px;margin-top: 0.5rem;
        }
        & p{
          margin-bottom: 0.5rem;
        }
        & a{
          color: $primary-color;
          text-decoration: none;
          font-size: 14px;
          &:hover{
            color: $secondary-color;
          }
        }
      }
    }
    &__button{
      display: flex;
      align-items: center;
      justify-content: center;
      &__item{
      background-color: $primary-color;
      padding: 0.5rem 1rem;
      text-align: center;
      color: #fff;
      text-decoration: none;
      width: 50%;
      &:hover{
        background-color: $secondary-color;
        transition: all ease-in 0.2s;
      }
    }
  }
  }
}

// join us
.banner.join{
  height: 500px;
  & h2{
    font-size: 35px;
  }
  & p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 30px #000;
    text-align: center;
  }
  & a:hover{
    background-color: $primary-color;
    transition: all ease-in 0.3s;
    border: 1px $primary-color solid;
  }
}


// témoignages

.slider-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding: 25px 20px;
}

.testimonial {
  display: none;
  text-align: center;
  width: 60%; 
  margin: 0 auto; 
  transition: transform 0.5s ease;
}

.testimonial img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.stars {
  color: #ffd700;
  font-size: 24px;
  margin-bottom: 10px;
}

.review {
  font-size: 16px;
  margin-bottom: 10px;
}

.client-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.program {
  font-style: italic;
  color: #555;
}

.active {
  display: block;
}
.temoignages__fleche-gauche{
  background-color: $secondary-color;
  border-radius: 100%;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0.8rem 1rem;
  border: none;
  
}
.temoignages__fleche-droite{
  background-color: $primary-color;
  border-radius: 100%;
  color: white;
  font-size: 16px;
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  
}
.temoignages__fleches{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

// instagram

.banner.instagram{
  height: 200px;
  & a{
    color: white;
  }
}

// footer
footer{
  background-color: #1C2229;
  display: flex;
  justify-content: space-around;
  padding: 6rem 8rem;
  color: white;
  & .footer__infos{
    &__logo{
      display: flex;
      gap: 0.5rem;
      margin-bottom: 0.2rem;
      & img{
        height: 30px;
        width: 30px;
      }
    }
    & p{
      margin-bottom: 2rem;
    }
    &__cadre{
      border: 1px white solid;
      padding: 2rem;
      width: 500px;
      background-color: #485059;
      & span{
        color: $secondary-color;
      }
      & p{
        & a{
          text-decoration: none;
          color: white;
        }
      }
    
    }
  }
  & .footer__reseaux{
    & h2{
      margin-bottom: 0.5rem;
    }
    &__grp{
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      margin-bottom: 3rem;
    }
    & a{
      color: white;
    }
    & hr{
      width: 400px;
      border-top: none;
      border-right: none;
      border-left: none;
    }
    & .up{
      display: flex;
      gap: 1rem;
      align-items: center;
      & i{
        border-radius: 100%;
        border: 1px solid white;
        padding: 1rem 1rem;
      }
    }
  }
}

// copyright
.copyright{
  padding: 0.5rem;
  text-align: center;
  & p{
    color: #555;
    font-size: 14px;
    & span{
      color: $primary-color;
    }
  }
}

// CONNEXION ESPACE CLIENT

// formulaire
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  width: 1000px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
  width: 80%;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container span {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.input-container span svg {
  color: $secondary-color;
  width: 1rem;
  height: 1rem;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: $primary-color;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 65%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

.banner.connexion{
  height: 100%;
  & img{
    height: 800px;
  }
  & .banner__content{
    bottom: 0;
    top: 40%;
  }
}

// new account

.form-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 700px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: $primary-color;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: $primary-color;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: $secondary-color;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: $primary-color;
}

.signin a:hover {
  text-decoration: underline $primary-color;
}

.flex {
  display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
}

.form-new label {
  position: relative;
  width: 65%;
}

.form-new label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form-new label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form-new label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form-new label .input:focus + span,.form-new label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form-new label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: $primary-color;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

// contact form
.form-contact {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 900px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form-contact .title {
  color: $primary-color;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-contact input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form-contact textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form-contact button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: $primary-color;
  color: #fff;
  cursor: pointer;
}

.banner.contact{
  height: 400px;
  background-color: $secondary-color
}