// footer
footer{
    background-color: #1C2229;
    display: flex;
    justify-content: space-around;
    padding: 6rem 8rem;
    color: white;
    & .footer__infos{
      &__logo{
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.2rem;
        & img{
          height: 30px;
          width: 30px;
        }
      }
      & p{
        margin-bottom: 2rem;
      }
      &__cadre{
        border: 1px white solid;
        padding: 2rem;
        width: 500px;
        background-color: #485059;
        & span{
          color: $secondary-color;
        }
        & p{
          & a{
            text-decoration: none;
            color: white;
          }
        }
      
      }
    }
    & .footer__reseaux{
      & h2{
        margin-bottom: 0.5rem;
      }
      &__grp{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-bottom: 3rem;
      }
      & a{
        color: white;
      }
      & hr{
        width: 400px;
        border-top: none;
        border-right: none;
        border-left: none;
      }
      & .up{
        display: flex;
        gap: 1rem;
        align-items: center;
        & i{
          border-radius: 100%;
          border: 1px solid white;
          padding: 1rem 1rem;
        }
      }
    }
  }
  
  // copyright
  .copyright{
    padding: 0.5rem;
    text-align: center;
    & p{
      color: #555;
      font-size: 14px;
      & span{
        color: $primary-color;
      }
    }
  }
  