$primary-color: #0077b6;
$secondary-color: #f7931e;
/* STRUCTURE */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-inline: 0 auto;
}

// polices
h1,
h2,
h3 {
  font-family: "Protest Riot", arial, sans-serif;
}
p {
  font-family: "Open Sans", arial, sans-serif;
}
a {
  font-family: "Poppins", arial, sans-serif;
}
