// CONNEXION ESPACE CLIENT

// formulaire
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
  width: 80%;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container span {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.input-container span svg {
  color: $secondary-color;
  width: 1rem;
  height: 1rem;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: $primary-color;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 65%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
  color: $primary-color;
}

.banner.connexion {
  height: 100%;
  & img {
    height: 800px;
  }
  & .banner__content {
    bottom: 0;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

// new account

.form-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 700px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: $primary-color;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: $primary-color;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: $secondary-color;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: $primary-color;
}

.signin a:hover {
  text-decoration: underline $primary-color;
}

.flex {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
}

.form-new label {
  position: relative;
  width: 65%;
}

.form-new label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form-new label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form-new label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form-new label .input:focus + span,
.form-new label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form-new label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: $primary-color;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

// responsive

@media screen and (max-width: 768px) {
  .form,
  .form-new {
    width: 100vw;
    & .title {
      font-size: 22px;
    }
    & .input-container,
    .input-container input,
    label {
      width: 95%;
    }
    .input-container span {
      padding-left: 88%;
    }
    .submit {
      width: 90%;
    }
  }
}
