// message bienvenue
.message-espace{
    background-color: $primary-color;
    height: 3rem;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

// profil

#coach.profil{
    & .coach__apropos{
        flex-direction: row;
    }
}